.global-grid {
    width: 100%;
    height: 100%;
}

.button-var {
    width: 33px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.icon-furni-var {
    background-image: url("@/assets/images/wired/variables/furni.png");
}

.icon-user-var {
    background-image: url("@/assets/images/wired/variables/user.png");
}

.icon-global-var {
    background-image: url("@/assets/images/wired/variables/global.png");
}

.icon-context-var {
    background-image: url("@/assets/images/wired/variables/context.png");
}

.container-buttons-var {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-var-selector {
    border: 1px solid #5d5d5d;
    border-radius: 5px;
    white-space: nowrap;
    height: 232px;
    width: 90%;
    overflow-y: auto;
}

.container-selector {
    margin-bottom: 10px;
}

.container-values-prop {
    background-color: #FFFFFF;
    font-size: 13px;
    border: 1px solid #5d5d5d;
    border-radius: 5px;
    width: 230px;
    height: 345px;
    overflow-y: auto;
    /* Habilita el scroll vertical */
}

.grid-container-props {
    display: grid;
    width: 100%;
    grid-auto-rows: min-content;
    /* Para que las filas se adapten al contenido */
}
.global-var-inspector{
    background-image: url("@/assets/images/wired/variables/global-var-inspector.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.grid-container2-props {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 0.05fr 1fr;
    padding: 3px;
    
}

.nitro-wired-monitor-view {
    width: 500px;
    height: 515px;
    resize: none;
}
.header-monitor-banner{
    position: relative;
    width: 500px;
    height: 62px;
    background-image: url("@/assets/images/wired/monitor/bottom-header.png");
    
}
.text-header-monitor{
    font-family: UbuntuBold;
    font-size: 16px;
}

.container-buttons-var-inside{
    width: 90%;
    background-color: #d3d3d3;
    padding: 3px;
    border-radius: 4px;
}
.text-left-container{
    width: 90%;
}
.button-var-picker{
    text-indent: 2px;
    padding: 3px;
}
